<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="googlebot" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="theme-color" content="#173a33">

<link rel="me" href="https://www.linkedin.com/in/maitlahcen/">
<link rel="me" href="https://github.com/maitlahcen">
<link rel="me" href="https://ideas.repec.org/e/pai46.html">
<link rel="me" href="https://econpapers.repec.org/RAS/pai46.htm">
