<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="googlebot" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="theme-color" content="#173a33">

<link rel="me" href="https://www.linkedin.com/in/maitlahcen/">
<link rel="me" href="https://github.com/maitlahcen">
<link rel="me" href="https://scholar.google.com/citations?user=5TZYEMwAAAAJ&hl=en">
<link rel="me" href="https://orcid.org/0000-0002-6013-5244">
<link rel="me" href="https://ssrn.com/author=1157592">
<link rel="me" href="https://ideas.repec.org/e/pai46.html">
<link rel="me" href="https://econpapers.repec.org/RAS/pai46.htm">
